.contentWidth {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.mainHead {
  font-size: xl-large;
  color: blue;
}

.gameContainer {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}
