:root {
  --mainFont: "DotGothic16", sans-serif;
  --mainBackground: #262626;
}

html {
  background-color: var(--mainBackground);
  background-image: url("assets/topography.svg");
}

.contentWidth {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: var(--mainFont);
}

.mainHead {
  font-size: xl-large;
  color: white;
  padding-bottom: 10rem;
}

.gameContainer {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 5rem;
  color: white;
  border: 2px dashed white;
}

.gameInfo {
  color: white;
  padding-right: 5rem;
}

.gameInfoContainer {
  display: flex;
  justify-content: center;
  font-size: larger;
}

#lettersGuessed,
.label {
  padding-left: 5rem;
  color: white;
}

.correctGuess {
  color: blueviolet;
  font-size: larger;
}
